* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #05305f;
}

#main_div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 0.5em
}

#info_div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 0.5em
}

input {
    border: 0;
    background-color: #fff;
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 0.5em;
}

::-webkit-input-placeholder {
    text-transform: none;
}

:-moz-placeholder {
    text-transform: none;
}

::-moz-placeholder {
    text-transform: none;
}

:-ms-input-placeholder {
    text-transform: none;
}

::placeholder {
    text-transform: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 11px;
    margin-bottom: 8px;
    border: 0;
    background: #fff;
    font-family: sans-serif;
    display: flex;
}

li i {
    display: contents;
}

strong {
    padding-right: 10px;
}

.greeting {
    color: #fff;
    text-align: center;
}

#info_div {
    display: none;
}

#info_icon {
    height: 1.5em;
    display: block;
}

#back_icon {
    height: 1.5em;
    display: none;
}

.link {
    color: #fff;
}

#pre_logo {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10em;
    z-index: -100;
    opacity: 0.8;
}
